/*  
    01. Global Styling
    02. Header
    03. Banner
    04. Products
    05. Follow Request
    06. Footer
    07. Footer Bottom
*/

/* 01. Global Styling */

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: .3s;
    outline: none;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    float: left;
    padding: 0;
    list-style: none;
}

.gap {
    height: 50px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* 02. Header */

header {
    overflow: hidden;
    padding: 15px 0;
    width: 100%;
}

.logo {
    float: left;
}

.logo img {
    width: 110px;
}

.menu, .closeMenu {
    display: none;
    cursor: pointer;
}

nav {
    float: left;
    margin-left: 25px;
}

nav a {
    display: inline-block;
    margin: 2px 12px;
    border-bottom: solid 2px #fff;
    font-size: 13px;
}

nav a:hover, .rightNav a:hover {
    border-bottom: solid 2px #333;
}

.rightNav button:last-of-type {
    margin-right: 0;
    padding-right: 0;
}

.rightNav {
    float: right;
}

.rightNav button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.rightNav button span {
    border-bottom: solid 2px #fff;
}

.rightNav button:hover span {
    border-bottom: solid 2px #333;
}

.rightNav .icon {
    margin: 0 0 0 4px;
}

.rightNav .down-icon {
    width: 8px;
}

.rightNav .search-icon {
    width: 15px;
    margin-bottom: -3px;
}

.rightNav .cart-icon {
    width: 16px;
    margin-bottom: -3px;
}

.rightNav .user-icon {
    width: 26px;
    margin-bottom: -7px;
}

.megaDropdown {
    color: #262626;
    font-size: 13px;
    position: absolute;
    background: #f2f2f2;
    left: 0;
    top: 55px;
    width: 100%;
    border-bottom: solid 2px #000;
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding: 0;
}

.megaDropdown a {
    border: none;
    margin: 0;
    color: #262626;
}

.megaDropdown ul {
    width: 16%;
    margin: 0;
}

.megaDropdown ul li {
    padding: 10px;
}

.megaDropdown ul li:first-of-type {
    font-weight: bold;
}

.megaDropdown a:hover {
    border: none;
    text-decoration: underline;
}

.banner, .banner2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 480px;
    background: #ccc;
    background: url(../images/banner.jpg) right;
    cursor: pointer;
}

/* 03. Banner */

.banner {
    background: url(../images/banner.jpg) right no-repeat;
}

.banner2 {
    color: #fff;
    background: url(../images/banner-2.jpg) right no-repeat;
}

.bannerText {
    max-width: 440px;
    margin-left: 80px;
}

.bannerText a {
    display: inline-block;
    padding: 8px 22px;
    margin-top: 20px;
    font-weight: bold;
}

.banner .bannerText a {
    color: #fff;
    background: #000;
}

.banner2 .bannerText a {
    color: #000;
    background: #fff;
}

.bannerText a img {
    margin: 0 0 0 10px;
}

.bannerText a:hover {
    text-decoration: underline;
}

.bannerText a:hover img {
    transform: translateX(5px);
}

img.right-icon {
    width: 8px;
    margin: 0 0 0 4px;
}

/* 04. Products */

.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
}

.card {
    cursor: pointer;
}

.card img:first-of-type {
    width: 100%;
}

.card a {
    color: #005da6;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: solid 2px #fff;
}

.card .cardAction:hover a {
    border-bottom: solid 2px #005da6;
}

.card .cardAction:hover img {
    transform: translateX(5px);
}

.card .cardAction {
    cursor: pointer;
}

.card .cardAction img {
    width: 8px;
}

/* 05. Follow Request */

.followRequest span {
    margin-right: 10px;
}

.followRequest i {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}

.fb {
    color: #395694;
}

.tw {
    color: #1A91DA;
}

.li {
    color: #0077B5;
}

/* 06. Footer */

footer {
    background: #f2f2f2;
    color: #616161;
    overflow: hidden;
}

footer a {
    font-size: 11px;
    color: #616161;
}

footer ul {
    width: 20%;
}

footer ul li {
    padding: 5px 0;
}

footer ul li:first-of-type {
    font-weight: bold;
}

footer a:hover {
    border: none;
    text-decoration: underline;
}

/* 07. Footer Bottom */

.footerBottom {
    padding: 20px 0;
    background: #f2f2f2;
}

.footerBottom a {
    font-size: 11px;
    color: #616161;
}

.footerBottom .lang {
    float: left;
}

.footerBottom .lang i {
    font-size: 22px;
    vertical-align: sub;
    margin-right: 8px;
}

.footerBottom .links {
    float: right;
}

.footerBottom .links a {
    margin-left: 25px;
}

.footerBottom a:hover {
    text-decoration: underline;
}